.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Copperplate";
    -fx-base: black;
    -fx-background: linear-gradient(to bottom right,#2c3e50, #3498db);
}
#hbox-main {
  -fx-background-color: linear-gradient(#7474bf,#348ac7);
  -fx-border-color: #2c3e50;
  -fx-border-width: 1px;
  -fx-padding: 10;
  -fx-spacing: 8;
}

#open-btn{
  -fx-font-size: 18pt;
  -fx-background-color: #1E90FF;
}

#ui-control {
  -fx-border-color: black;
  -fx-border-width: 1px;
  -fx-background-color: #1E90FF;
}

#ui-control:pressed {
    -fx-background-color: white;
}

#open-btn:pressed {
    -fx-background-color: white;
}

TableView {
  -fx-background-color:transparent;
  -fx-border-color: #2c3e50;
  -fx-border-width: 1px;
}
